/* ==UserStyle==
@name           Darker newsletter.falter.at - 02/10/2021, 10:53:39
@namespace      github.com/openstyles/stylus
@version        1.0.2
@description    A darker userstyle
@author         MikeZ
@preprocessor   default
==/UserStyle== */
@-moz-document domain("newsletter.falter.at") {
body,
li {
    background-color: #333 !important;
    color: #ddd;
}

div {
    background-color: #333 !important;
    color: #ddd;
}

.footer {
    color: #888 !important;
}
}
