/* ==UserStyle==
@name           Darker Startpage Black Theme - 10/12/2021, 10:53:39
@namespace      github.com/openstyles/stylus
@version        1.0.7
@description    A darker userstyle
@author         MikeZ
@preprocessor   default
==/UserStyle== */

.header--blak, .header--nite {
    background: #141414;
}

.header--blak .header__logo, .header--nite .header__logo {
    opacity: 0.5;
    filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(100%) contrast(119%);
}

.inline-nav-menu--blak .inline-nav-menu__link__active, .inline-nav-menu--nite .inline-nav-menu__link__active {
    color: #ccc !important;
    border-bottom: 2px solid #ccc;
}

.search-form--blak .search-form__form, .search-form--nite .search-form__form {
    background: #111;
    box-shadow: none;
    border: 1px solid #444;
}

.search-form--blak .search-form__clear-button .x-btn, .search-form--nite .search-form__clear-button .x-btn {
    background: url(https://www.startpage.com/sp/cdn/images/grey-x.svg) 50% 50% no-repeat;
}

.search-form--blak .search-form__button-desktop .ico-wrapper .ico, .search-form--nite .search-form__button-desktop .ico-wrapper .ico {
    background: url(https://www.startpage.com/sp/cdn/images/magnifying-glass-grey.svg) 50% 50% no-repeat;
}

.privacy-please-menu--blak .privacy-please-menu__button .privacy-please-text, .privacy-please-menu--nite .privacy-please-menu__button .privacy-please-text {
    color: #888;
}

.privacy-please-menu--blak .privacy-please-menu__button .chevron, .privacy-please-menu--blak .privacy-please-menu__button .privacy-please-text, .privacy-please-menu--nite .privacy-please-menu__button .chevron, .privacy-please-menu--nite .privacy-please-menu__button .privacy-please-text {
    filter: none;
}

.privacy-please-menu--blak .privacy-please-menu__button .chevron, .privacy-please-menu--nite .privacy-please-menu__button .chevron {
    background: url(https://www.startpage.com/sp/cdn/images/filter-chevron.svg) 0 50% no-repeat;
}

.inline-nav-menu--blak .inline-nav-menu__link, .inline-nav-menu--nite .inline-nav-menu__link {
    color: #888;
}

.search-filter-time--blak .search-filter-time__dropdown, .search-filter-time--nite .search-filter-time__dropdown {
    color: #ccc;
}

.search-filter-region--blak .search-filter-region__dropdown, .search-filter-region--nite .search-filter-region__dropdown {
    color: #ccc;
}

.search-filter-family--blak .search-filter-family__field-label, .search-filter-family--nite .search-filter-family__field-label {
    color: #ccc;
}

.w-gl--blak .w-gl__label, .w-gl--nite .w-gl__label {
    color: #888;
}

.w-gl--blak .w-gl__result-url, .w-gl--nite .w-gl__result-url {
    color: #aaa;
}

.w-gl--blak .w-gl__result-title, .w-gl--nite .w-gl__result-title {
    color: #ccc;
}

.w-gl--blak .w-gl__result, .w-gl--nite .w-gl__result {
    color: #777;
}

.layout-web--blak, .layout-web--blak .layout-web__body, .layout-web--nite, .layout-web--nite .layout-web__body {
    background: #181818;
}

.w-gl--blak, .w-gl--nite {
    background: #181818;
}

.w-gl--blak .w-gl__anonymous-view-icon, .w-gl--nite .w-gl__anonymous-view-icon {
    opacity: 0.3;
}

.pagination--blak .num--active, .pagination--nite .num--active {
    background: #aaa;
    border: 1px solid #888;
    color: #222;
}

.pagination--blak .pagination__num, .pagination--nite .pagination__num {
    color: #888;
    background: #333;
    border: 1px solid #222;
}

.pagination--blak .pagination__next-prev-button, .pagination--nite .pagination__next-prev-button {
    color: #888;
    background: #333;
    border: 1px solid #222;
}

.footer__blog-widget__text p span {
    color: #888;
}

.footer--blak .footer__blog-widget__logo, .footer--nite .footer__blog-widget__logo {
    opacity: 0;
}

.footer--blak .footer__blog-widget__text, .footer--nite .footer__blog-widget__text {
    color: #666;
}

.footer--blak .footer__logo, .footer--nite .footer__logo {
    opacity: 0.5;
}

.footer__links__startpage a {
    color: #888
}

.footer--blak .footer__social a, .footer--nite .footer__social a {
    background: #333;
}

.footer--blak .footer__social span, .footer--nite .footer__social span {
    opacity: 0.5;
}

.layout-web__feedback-button-container--desktop {
    display: none;
}

.footer--blak .footer__container, .footer--nite .footer__container {
    background: #1c1c1c;
}
